# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db